<h2>Campaign <div class="rightBtn"><button class="btn btn-xs btn-success" ng-click="campaign.add()"><i class="fa fa-plus"></i> <span class="hidden-xs">Add Campaign</span> </button></div></h2>


<div class="card customCard" ng-repeat="job in jobs">
  <div class="card-block">
    <h4 class="card-title">{{job.cmgn_name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{job.cmgn_desc}}</h6>
    <p class="card-text">{{job.cmgn_layout}}</p>
    <button class="card-link btn btn-xs btn-warning"  ng-click="campaign.update(job.id)"><i class="fa fa-edit"></i> Update</button>
    <button class="card-link btn btn-xs btn-danger" ng-click="campaign.delete(job.id)"><i class="fa fa-trash"></i> Delete</button>
  </div>
</div>
<!--
<input type="text" ng-model="itemId">
<h1>{{itemId}}</h1>
<button class="btn btn-md btn-success" ng-click="trigger(itemId)">Trigger</button>-->